@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap");
:root {
  --primary: #ffde00;
  --secondary: #131922;
  --white: #ffffff;
  --gery-1: #5f6165;
  --gery-2: #888888;
  --gery-3: #a2a6ad;
  --yellow: #ffa818;
}
/* Global */
* {
  margin: 0;
  padding: 0;
  text-decoration: none !important;
  box-sizing: border-box;
}
html {
  background: black;
}
body {
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #5f6165;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-style: normal;
}
h1 {
  font-size: 120px;
}
h2 {
  font-size: 45px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: var(--primary);
}
section {
  padding: 3rem 0;
}
.btn {
  font-weight: 700;
}
.btn-outline-warning {
  border: 2px solid var(--primary) !important;
}
/* Header section */
/* .nav-logo{
  width: ;
} */
.nav-link {
  color: rgba(0, 0, 0, 0.7) !important;
  font-weight: 500;
}
/* Hero  section*/
.hero {
  min-height: 70vh;
  background-image: url(../image/other/Fobex-hero-bg.jpg);
  background-size: cover;
  width: 100%;
  padding-top: 20px;
  position: relative;
  margin-bottom: 100px;
  background-blend-mode: multiply;
  background-color: rgb(179 153 20 / 88%);
}
.hero-logo {
  width: 220px;
}
.text-primary {
  color: var(--primary) !important;
}
.btn-primary {
  background: var(--primary) !important;
  border: none;
  color: #000;
}
.btn-secondary {
  background: #ff4c1a !important;
  border: none;
}

.heading-one {
  color: #ffff;
  font-size: 55px;
}
.hero-content {
  max-width: 860px;
}
/* Demo section */
.demos {
  margin-top: -10vh;
}
/* /* Hover Scroll Effect */
.frame {
  width: 100%;
  height: 400px;
  overflow: hidden;
}
.frame img {
  object-fit: cover;
  width: 100%;
  transform: translateY(0);
  transition: 5s ease-out;
}
.frame:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}
.frame:hover img {
  object-fit: cover;
  width: 100%;
  transform: translateY(calc(-100% + 400px));
  transition: 7s ease-out;
}
/*OR */
/* .frameimg:hover{
  object-fit: cover;
  width:100%;
  transform: translateY(-100%);
  transition: 2s ease-out;
} */

/* With background image  */
.bg-image {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-position 7s ease-out;
}
.frame:hover .bg-image {
  background-position: 0 100%;
}
.bg-1 {
  background-image: url("../image/other/cube-home-1.webp");
}
.bg-2 {
  background-image: url("../image/other/cube-home-2.webp");
}
.bg-3 {
  background-image: url("../image/other/about.webp");
}
.bg-4 {
  background-image: url("../image/other/service.webp");
}
.bg-5 {
  background-image: url("../image/other/service-details.webp");
}
.bg-6 {
  background-image: url("../image/other/case-studies.webp");
}
.bg-7 {
  background-image: url("../image/other/case-details.webp");
}
.bg-8 {
  background-image: url("../image/other/our-team.webp");
}
.bg-9 {
  background-image: url("../image/other//pricing.webp");
}
.bg-10 {
  background-image: url("../image/other/faq.webp");
}
.bg-11 {
  background-image: url("../image/other/news.webp");
}
.bg-12 {
  background-image: url("../image/other/news-details.webp");
}

.bg-13 {
  background-image: url("../image/other/contact-2.png");
}
/*  */

/* section {
  padding: 60px 0;
  min-height: 100vh;
} */
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.bg-gray {
  background-color: #f9f9f9;
}

.site-heading h2 {
  display: block;
  font-weight: 700;
  margin-bottom: 10px;
}

.site-heading h4 {
  display: inline-block;
  padding-bottom: 20px;
  position: relative;
  text-transform: capitalize;
  z-index: 1;
}

.site-heading h4::before {
  background: #ffaf5a none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 2px;
  left: 50%;
  margin-left: -25px;
  position: absolute;
  width: 50px;
}

.site-heading {
  margin-bottom: 60px;
  overflow: hidden;
  margin-top: -5px;
}

.features-items,
.features-items .items-box {
  overflow: hidden;
}

.features-area .equal-height::after {
  background: #e7e7e7 none repeat scroll 0 0;
  content: "";
  height: 100%;
  position: absolute;
  right: -1px;
  top: 0;
  width: 1px;
}

.features-area.item-full .equal-height::before {
  background: #e7e7e7 none repeat scroll 0 0;
  content: "";
  height: 1px;
  position: absolute;
  bottom: -1px;
  right: 0;
  width: 100%;
}

.features-area .features-items .col-md-5,
.features-area .features-items .col-md-7 {
  display: table-cell;
  float: none;
  vertical-align: middle;
}

.features-area .features-items.reversed .col-md-5,
.features-area .features-items.reversed .col-md-7 {
  display: inline-block;
  float: left;
}

.features-area .features-items.reversed .info-box {
  float: right;
}

.features-area .features-items .item {
  padding: 15px 30px;
}

.features-area.item-full .features-items .item {
  padding: 30px;
}

.features-area .features-items .item h4 {
  position: relative;
}

.features-area.bottom-small {
  padding-bottom: 25px;
}

.features-area.default-padding.bottom-none {
  padding-bottom: 30px;
}

.features-area .item .icon {
  margin-bottom: 20px;
}

.features-area .item .info {
}

.features-area .item .icon img {
  background: #ffffff none repeat scroll 0 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: 0 0 10px #cccccc;
  -webkit-box-shadow: 0 0 10px #cccccc;
  -o-box-shadow: 0 0 10px #cccccc;
  box-shadow: 0 0 10px #cccccc;
  color: #ffaf5a;
  display: inline-block;
  font-size: 30px;
  height: 100px;
  line-height: 100px;
  position: relative;
  text-align: center;
  width: 100px;
  z-index: 1;
}

.features-area .features-items .items-box i {
  background: transparent;
}

.features-area .item .icon {
  margin-bottom: 25px;
}

.features-area .features-items.icon-solid i {
  border-radius: inherit;
  -moz-box-shadow: 0 0 10px #cccccc;
  -webkit-box-shadow: 0 0 10px #cccccc;
  -o-box-shadow: 0 0 10px #cccccc;
  box-shadow: 0 0 10px #cccccc;
  color: #ffaf5a;
  display: inline-block;
  font-size: 50px;
  height: 80px;
  line-height: 80px;
  position: relative;
  text-align: center;
  width: 80px;
}

.features-area .item .info h4 {
  font-weight: 600;
  text-transform: capitalize;
  font-size: 20px;
}
.features-area .item .info p {
  margin: 0;
}

.features-area .features-items.less-icon .items-box.inc-cell .item .info {
  padding-left: 0;
}

.features-area .features-items .items-box.inc-cell .item .info a {
  color: #666666;
  display: inline-block;
  margin-top: 15px;
  text-transform: uppercase;
}

.features-area .features-items .items-box.inc-cell .item .info a:hover {
  color: #ffaf5a;
}
.feature-image {
  max-width: 100%;
}
/* Footer section */
.footer {
  color: #ffff;
  background: #070a52;
  padding: 1rem 0;
}
